* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Pulp Display";
  background: #ffffff;
}

.window-scroll {
  background: #c0a9cf;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.container {
  width: 80%;
  margin: 0 auto;
}
